- title t('dmp.auth.resend_confirm')
- error_notices devise_error_messages!

= semantic_form_for :user, :url => confirmation_path(:user), :html => { :method => :post } do |f|

  = f.inputs do
    = f.input :email

  = f.buttons do
    = f.commit_button t('dmp.auth.resend_confirm')

= render :partial => "devise/shared/links"