- display = "#{abbreviated_question(node)} (#{translated_types.invert[node.kind]})"
- if opts[:admin]
  %div{ :class => "link#{' root' if root}" }
    .drag-button.handle{:title => t('dmp.admin.drag')}
      = image_tag("white/drag.png", {:alt => t('dmp.admin.drag'), :class => "handle"})
    = controls
    %span.value
      %span{class: "s_#{node.id}"}= raw display
- else
  %div{:class => "link #{'root' if root}"}
    %span.value
      %span{class: "s_#{node.id}"}= raw display

