!!! Strict
%html{:lang => I18n.locale.to_s}
  %head
    %meta{:content => 'text/html; charset=utf-8', 'http-equiv' => 'Content-Type'}
    - if @doc[:format] == 'pdf'
      = wicked_pdf_stylesheet_link_tag 'export'
    - else
      = stylesheet_link_tag 'export'

    :css
      table {
        font-size: #{@doc[:font_size]}pt;
        font-family: #{@doc[:font_style]};
      }

  %body.export
    - if @doc[:page_header]
      %div.heading= @doc[:page_header_text]
      
    %table{:width => "100%"}
      %tr
        %td.logo
          - if @doc[:format] == 'pdf'
            = wicked_pdf_image_tag("dmp_logo.png", :align => :left, :border => 0, :width => 218, :height => 66)
          - else
            = image_tag("dmp_logo.png", :align => :left, :border => 0, :width => 218, :height => 66)
        %td
          %h3= plan_display(@plan, :project)
          - if @doc[:project_status]
            .doc_header= t('dmp.project_stage', phase: @phase_edition_instance.edition.phase.phase)
          - if @doc[:template_org]
            .doc_header
              = "#{@phase_edition_instance.template_instance.template.organisation.organisation_type.title}:"
              = @phase_edition_instance.template_instance.template.organisation.full_name
          - if @doc[:partners]
            .pdf_header= t('dmp.lead_org', org: plan_display(@plan, :lead_org))
            - unless @plan.other_orgs.blank?
              .pdf_header= t('dmp.other_orgs', orgs: plan_display(@plan, :other_orgs))
          - if @doc[:project_dates]
            .pdf_header
              = "#{t('dmp.project_dates')}:"
              = plan_display(@plan, :start_date)
              = t('dmp.range_to')
              = plan_display(@plan, :end_date)
          - if @doc[:budget]
            .pdf_header
              = "#{t('attributes.budget')}:"
              = plan_display(@plan, :budget)
    &nbsp;
    %br
    &nbsp;
    %br
    %table{:class => 'export'}    
      %tbody
        - qs = export_questions(@pei, @doc[:selection])
        - qs.each do |section|
          %tr{class: "depth-0 type-h section"}
            %td.number= section[:number]
            %td.heading{colspan: 5}= section[:heading]
          
          - section[:template_clauses].each do |q|
            %tr{class: "depth-#{q[:depth]} type-#{q[:kind]} #{cycle('odd', 'even')}"}
              - q[:depth].to_i.times do |l|
                %td.spacer

              %td.number= q[:number]
              
              - if q[:is_heading]
                %td.heading{colspan: "#{5-q[:depth]}"}= q[:question]
              - elsif q[:is_mapped]
                %td.question-heading{colspan: "#{5-q[:depth]}"}= q[:question]
              - else
                %td.question{colspan: "#{4-q[:depth]}"}= q[:question]
                %td.answer
                  - q[:answers].each do |a|
                    .answer= simple_format(a[:response])
    
            - if q[:is_mapped]
              - q[:answers].each do |a|
                %tr{class: "mapped depth-#{q[:depth]} type-#{a[:kind]} #{cycle('odd', 'even')}"}
                  %td.spacer{colspan: "#{q[:depth] + 1}"}
                  %td.dcc_number= @doc[:dcc_question_numbers] ? a[:dmp_number] : ''
                  - if @doc[:include_dcc_questions]
                    %td.question{colspan: "#{3-q[:depth]}"}= a[:dmp_clause]
                    %td.answer= simple_format(a[:response])
                  - else
                    %td.answer{colspan: "#{4-q[:depth]}"}= simple_format(a[:response])
                     
          %tr.spacer
            %td{:colspan => 6} &nbsp;

    
    - if @doc[:page_signatures]
      %br/
      %br/
      %table{:cellpadding => 2}
        %tbody
          - @doc[:page_signatures_count].times do
            %tr
              %td Signature   __________________________________________
              %td &nbsp;&nbsp;Date _________________________________
            %tr
              %td 
                %br
              %td &nbsp;
            %tr
              %td Print name  _________________________________________
              %td &nbsp;&nbsp;Role/institution  _________________________
            %tr
              %td 
                %br/
              %td &nbsp;
            %tr
              %td 
                %br/
              %td &nbsp;


    - if @doc[:page_footer]
      %div.footing= @doc[:page_footer_text]
