- if can? :manage, @plan
  - locked = false
- else
  - locked = true
  
%li.nested-fields
  = f.inputs do
    - f.object.email_mask = display_email_mask(f.object.email_mask)
    = f.input :email_mask, :as => :string, :label => false, :input_html => { :disabled => locked }
    = f.input :role_flags, :as => :radio, :collection => plan_rights_list, :label => false, :input_html => { :disabled => locked }
    - unless locked
      = link_to_remove_association image_tag('minus.png', {:alt => "#{t('dmp.admin.remove_model', model: t('activerecord.models.template_instance_right.one'))}"}), f
